<html>
    <head>
        <title>register </title>
    </head>
    <body>
        <label>register</label>
        <div>
            <form action="/register" method="POST">
                <label>email</label>
                <input type="TEXT" name="email" />
                <label>password </label>
                <input type="PASSWORD" name="pwd" />
                <label>password again:</label>
                <input type="PASSWORD" name="pwd_confirm" />
                <p />
                <input type="SUBMIT" value="registered" />
            </form>
        </div>
    </body>
</html>

